@model IEnumerable<MVCINCV4._1.Models.BILL>

@{
    ViewBag.Title = "List_sls1";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<table id="grid"></table>
<div id="pager"></div>

<script>
    $(document).ready(function () {
        $('#grid').jqGrid({
            url: '/BILL/List_sls/',
            datatype: 'json',
            mtype: 'GET',
            colNames: ['BILLID', 'BILL NO', 'BILL DATE', 'CUSTOMER', 'SITE NAME', 'PART NO', 'PART NAME', 'MRP', 'SELL PRICE', 'QTY', 'UNIT', 'NET TOTAL', 'GRAND TOTAL', 'TAX VALUE'],
            colModel: [
                { key: true, hidden: true, name: 'BILLID', index: 'BILLID', editable: true },
                { key: false, name: 'BILL_NO', index: 'BILL_NO', editable: true },
                { key: false, name: 'BDATE', index: 'BDATE', editable: true },
                { key: false, name: 'CUST', index: 'CUST', editable: true },
                { key: false, name: 'DNAME', index: 'DNAME', editable: true },
                { key: false, name: 'PART_NO', index: 'PART_NO', editable: true },
                { key: false, name: 'PARTI', index: 'PARTI', editable: true },
                { key: false, name: 'MRP', index: 'MRP', editable: true },
                { key: false, name: 'SPRICE', index: 'SPRICE', editable: true },
                { key: false, name: 'QTY', index: 'QTY', editable: true },
                { key: false, name: 'UNIT', index: 'UNIT', editable: true },
                { key: false, name: 'TOTAL', index: 'TOTAL', editable: true },
                { key: false, name: 'STOT', index: 'STOT', editable: true },
                { key: false, name: 'TVAL', index: 'TVAL', editable: true }
            ],
            pager: jQuery('#pager'),
            height: '100%',
            width: '100%',
            viewrecords: true,
            caption: 'SALES REPORT',
            emptyrecords: 'BLANK',
            jsonReader: {
                root: 'rows',
                page: 'page',
                total: 'total',
                records: 'records',
                repeatitems: false,
                id: '0'
            },
        }).navGrid('#pager', { edit: false, add: false, del: false, refresh: true, search: true, view: false });
    });
</script>