@model IEnumerable<MVCINCV4._1.Models.PMR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var source =
       {
           datatype: "json",
           datafields: [
                { name: 'RECID1', type: 'string' },
                { name: 'SID', type: 'string' },
                { name: 'SNAME', type: 'string' },
                { name: 'CUST', type: 'string' },
                { name: 'STYPE', type: 'string' },
                { name: 'CCATE', type: 'string' },
                { name: 'DOS', type: 'date' },
                { name: 'CDATI', type: 'date' },
                { name: 'ENGINE_No', type: 'string' },
                { name: 'HMR', type: 'string' },
                { name: 'STA', type: 'string' },
           ],
           url: '/Pop/List_rm'
       };
            var editrow = -1;
            var dataAdapter = new $.jqx.dataAdapter(source);
            // initialize jqxGrid
            $("#grid").jqxGrid(
                {
                    width: '98%',
                    height: '100%',
                    source: dataAdapter,
                    sortable: true,
                    filterable: true,
                    theme: 'energyblue',
                    editable: true,
                    columns: [
                        {text: "RECORD NO", datafield: "RECID1", hidden: true},
                        { text: "SITE ID", datafield: "SID" },
                        { text: "SITE NAME", datafield: "SNAME" },
                        { text: "CUSTOMER", datafield: "CUST" },
                        { text: "ISSUE TYPE", datafield: "STYPE" },
                        { text: "ISSUE CATEGORY", datafield: "CCATE" },
                        { text: "DT. OF ISSUE", datafield: "DOS", cellsformat: 'dd-MMM-yyyy hh:mm:ss tt' },
                        { text: "DT. OF CLOSURE", datafield: "CDATI", cellsformat: 'dd-MMM-yyyy hh:mm:ss tt' },
                        { text: "ENGINE NO", datafield: "ENGINE_No" },
                        { text: "HMR", datafield: "HMR" },
                        { text: "ISSUE STATUS", datafield: "STA" },
                        {
                            text: 'Details', datafield: 'Details', columntype: 'button', width: 80, sortable: false, filterable: false, cellsrenderer: function () {
                                return "Details";
                            }, buttonclick: function (row) {
                                editrow = row;
                                var offset = $("#grid").offset();
                                $("#popupWindow").jqxWindow({ position: { x: parseInt(offset.left) + 60, y: parseInt(offset.top) + 60 } });
                                var dataRecord = $("#grid").jqxGrid('getrowdata', editrow);
                                $("#firstName").val(dataRecord.SID);
                                $("#lastName").val(dataRecord.SNAME);
                                $("#product").val(dataRecord.CUST);
                                $("#quantity").val(dataRecord.STYPE);
                                $("#price").val(dataRecord.CCATE);
                                $("#popupWindow").jqxWindow('open');
                            }
                        }
                    ]
                });
            $("#popupWindow").jqxWindow({
                width: '80%', resizable: true, isModal: true, autoOpen: false, cancelButton: $("#Cancel"), modalOpacity: 0.01
            });

            $("#popupWindow").on('open', function () {
                $("#firstName").jqxInput('selectAll');
            });            $("#Cancel").jqxButton({ theme: 'energyblue' });
            $("#excelExport").jqxButton({
                theme: 'energyblue'
            });

            $("#excelExport").click(function () {
                $("#grid").jqxGrid('exportdata', 'xls', 'jqxGrid');
            });
        });
    </script>
}
<h6>PM / CM MANAGEMENT</h6>
<input style='margin-top: 10px;' type="button" value="Export to Excel" id='excelExport' />
<br/>
<div id="grid"></div>
<div id="popupWindow">
    <div>Details</div>
    <div style="overflow: hidden;">
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <td>SITE ID:</td>
                <td align="left"><input id="firstName" class="form-control" /></td>
            </tr>
            <tr>
                <td>SITE NAME:</td>
                <td align="left"><input id="lastName" class="form-control" /></td>
            </tr>
            <tr>
                <td>CUSTOMER:</td>
                <td align="left"><input id="product" class="form-control" /></td>
            </tr>
            <tr>
                <td>ISSUE TYPE:</td>
                <td align="left"><input id="quantity" class="form-control" /></td>
            </tr>
            <tr>
                <td>ISSUE CATEGORY:</td>
                <td align="left"><input id="price" class="form-control" /></td>
            </tr>
            <tr>
                <td align="right"></td>
                <td style="padding-top: 10px;" align="right"><input id="Cancel" type="button" value="OK" /></td>
            </tr>
        </table>
    </div>
</div>



