@model IEnumerable<MVCINCV4._1.Models.SHEET1>

@{
    ViewBag.Title = "PRICE LIST";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#grid').jqGrid({
                url: '/Stock/List_Pr/',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['RID', 'Part No', 'Part Name', 'Mrp', 'Item Group', 'Item Category', 'Tax Rate', 'Unit'],
                colModel: [
                    { key: true, hidden: true, name: 'RID', index: 'RID', editable: true },
                    { key: false, name: 'PART_NO', index: 'PART_NO', editable: true },
                    { key: false, name: 'PARTI', index: 'PARTI', editable: true },
                    { key: false, name: 'MRP', index: 'MRP', editable: true },
                    { key: false, name: 'GROP', index: 'GROP', editable: true },
                    { key: false, name: 'CATE', index: 'CATE', editable: true },
                    { key: false, name: 'TRATE', index: 'TRATE', editable: true },
                    { key: false, name: 'unit', index: 'unit', editable: true }
                ],
                pager: jQuery('#pager'),
                height: '100%',
                viewrecords: true,
                caption: 'PRICE LIST',
                emptyrecords: 'BLANK',
                jsonReader: {
                    root: 'rows',
                    page: 'page',
                    total: 'total',
                    records: 'records',
                    repeatitems: false,
                    id: '0'
                },
            }).navGrid('#pager', { edit: true, add: true, del: true, refresh: true, search: true, view:true },
   {
       zIndex: 100,
       url: '/Stock/edt',
       closeOnEscape: true,
       closeAfterEdit: true,
       recreateForm: true,
       afterComplete: function (response) {
           if (response.responseText) {
               alert(response.responseText);
           }
       }
   },
   {
       zIndex: 100,
       url: '/Stock/crt',
       closeOnEscape: true,
       closeAfterAdd: true,
       afterComplete: function (response) {
           if (response.responseText)
           {
               alert(response.responseText);
           }
       }
   },
   {
       zIndex: 100,
       url: '/Stock/dlt',
       closeOnEscape: true,
       closeAfterDelete: true,
       recreateForm: true,
       msg: "Are You Want to Delete This Record",
       afterComplete: function (response) {
           if (response.responseText) {
               alert(response.responseText);
           }
       }
   });
        });
    </script>
        }
<table id="grid"></table>
<div id="pager"></div>
